body {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-links > a {
    text-decoration: none;
    color: #F9FAF8;
    padding: 10px;
    margin-right: 15px;
}



.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header,
.footer {
    background-color: #1F2937;
    height: 60px;
    color: #F9FAF8;
}

.hero-image {
    width: 300px;
    height: 150px;
    background-color: gray;
}

.hero-1 > h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-1 > p {
    font-size: 18px;
    color: #E5E7EB;
}

.footer,
.hero-1 {
    background-color: #1F2937;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.header .logo {
    margin-left: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-4 {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 600px;
}

div {
    border: 2px solid black;
  }
  
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-3 {
    height: 200px;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.hero-3 > h3 {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.hero-3 > p {
    display: flex;
    justify-content: end;
}

.hero-1,
.hero-2,
.hero-3,
.hero-4 {
    flex-grow: 1;
}

/* div, h3 and ul,li,a*/
.hero-2 {
    font-size: 36px;
    color: #1F2937;
}